<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Mission Show Page</h1>
	<h2>The <%= marsMissions.name %>

	<a href="http://localhost:3000/marsMissions">Back to Index</a>

</body>
</html>