<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Mission Show Page</h1>
	<h2>The <%= marsMissions.name %>
	<h2>Launch Date: <%= marsMissions.launchDate%></h2>
	<h2>Operator: <%= marsMissions.operator%></h2>
	<h2>Mission Type: <%= marsMissions.missionType%></h2>
	<br>
	<a href="http://localhost:3000/marsMissions">Back to Index</a>

</body>
</html>