<!DOCTYPE html>
<html>
<head>
	<title>Show Page</title>
</head>
<body>
	<h1> <%=marsMissions[index].name%> </h1>
	<h3>Launch Date: <%=marsMissions[index].launchDate%></h3>
	<h3>Operator: <%=marsMissions[index].operator%></h3>
	<h3>Mission Type: <%=marsMissions[index].missionType%></h3>

	<li><a href="http://localhost:3000/missions">Home</a></li>

</body>
</html>