<!DOCTYPE html>
<html>
<head>
	<title>Mars Missions</title>
	<h1>Mission show page</h1>
	The <%= marsMissions.name %> launched <%= marsMissions.launcDate%>

      <h3>The mission Operator is <%=marsMissions.operator %> and the mission type is a <%=marsMissions.missionType%></h3>

</head>
<body>

</body>
</html>