<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Missions Show page</h1>


	<%=mission.name%>
	<br>
	<%=mission.launchDate%>
	<br>
	<%=mission.operator%>
	<br>
	<%=mission.missionType%>
	<br>
	<button><a href="http://localhost:3000/models/">home</a></button>
</body>
</html>