<!DOCTYPE html>
<html>
<head>
	<title>Mars Missions - Names</title>
</head>
<body>

	<h1>Mars Missions - Names</h1>

	<ul class="missions">
		<%marsMissions.forEach((elem, i) => {%>
		<li><%=elem.name%></li>

		<%})%>
	</ul>

</body>
</html>